@import 'sass/mixins.scss';

$timing: cubic-bezier(.22, .44, .34, 1);

@mixin description-text($width, $font, $line, $spacing: 0) {
  .text-wrapper p {
    width: $width;
    font-size: $font;
    line-height: $line;
    @if ($spacing == 0) {
      letter-spacing: $spacing;
    }
  }
}

.description {
  display: table;
  @include size(100%);
}

.text-wrapper {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
} 

.text-wrapper p {
  font-family: 'Ogg Roman';
  letter-spacing: -1.3px;
  margin: auto;
  text-align: center;
  
  transform: translateY(10px);
  transition: transform 0s $timing 1.4s;
}

.show .text-wrapper p {
  transform: translateY(0);
  transition: transform 1s $timing .7s;
}

@media (max-width: 768px) {
  @include description-text(65%, 8.5vw, 10.5vw);
}

@media (max-width: 768px) and (orientation: landscape) {
  @include description-text(65%, 4vw, 5.4vw, 2px);
}

@media (min-width: 768px) {
  @include description-text(73%, 6vw, 7.8vw);
}

@media (min-width: 768px) and (orientation: landscape) {
  @include description-text(58%, 4vw, 5.4vw);
}

@media (min-width: 1000px) {
  @include description-text(59%, 4.5vw, 6vw);
}

@media (min-width: 1280px) {
  .text-wrapper p { width: 740px }
}

@media (min-width: 1366px) {
  @include description-text(680px, 54px, 70px);
}

@media (min-width: 1920px) {
  @include description-text(1000px, 80px, 105px);
}