@import 'sass/mixins.scss';

.navigation {
  position: relative;
  z-index: 50;
  transition: opacity .5s ease-out;
}

.fading-artwork .navigation { opacity: 0 }

.button {
  position: fixed;
  cursor: pointer
}

.hamburger, .cross {
  &.active { opacity: 1; }
  &.inactive { opacity: 0; }
}

.top-left {
  margin: 3px 0 0 3px;
  top: 5vh;
  left: 9.4vw;
}

.top-right {
  margin: 1px 1px 0 0;
  top: 5vh;
  right: 9.4vw;
}

@media (min-width: 768px) {
  @include corners(5.5vh);
}

@media (min-width: 768px) and (orientation: landscape) {
  @include corners(7vh);
}

@media (min-width: 1366px) {
  @include corners(8.5vh);
}