@import './mixins';

.button {
  position: fixed;
  z-index: 10;
  cursor: pointer
}

.hamburger {
  height: 11px;
  width: 20px;

  .row {
    height: 2px;
    background: #666;
  }

  &.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.cart-button {
  background: #000;
  border-radius: 50%;
  
  @include cart-button-size(14px);
}

.cross {
  width: 17px;
  height: 17px;
  stroke: #000;
  stroke-width: 2px;
}

.active {
  opacity: 1;
}

.inactive {
  display: none;
  opacity: 0;
}

.top-left {
  margin: 3px 0 0 3px;
  top: 5vh;
  left: 9.4vw;
}

.top-right {
  margin: 1px 1px 0 0;
  top: 5vh;
  right: 9.4vw;
}

@media (min-width: 768px) {
  @include top-left-right(7vh);
}

@media (min-width: 1366px) {
  @include top-left-right(8.5vh);
}