$timing: cubic-bezier(0.4, 0.55, 0.56, 1);

.image-wrapper {
  width: 80vw;
  height: auto;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 1s $timing;

  &:hover {
    transform: scale(1.02);

    ~.title p { opacity: 1; }
    ~.details {
      opacity: 1;
      transition: opacity 1s $timing;
    }
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  will-change: transform;
}

.portrait {
  max-width: 53vh;
}

.landscape {
  max-width: 78.5vh;
}

.square {
  max-width: 59.2vh;
}

@media (min-width: 768px) {
  .portrait {
    max-width: 47vh;
  }

  .landscape {
    max-width: 80vh;
  }

  .square {
    max-width: 52.2vh;
  }
}

@media (min-width: 1000px) {
  .portrait {
    max-width: 48.4vh;
  }

  .landscape {
    width: 63.5vw;
    max-width: 100vh;
  }

  .square {
    max-width: 48.5vh;
  }
}

@media (min-width: 1366px) {
  .portrait {
    width: 37vw;
    max-width: 56vh;
  }

  .landscape {
    width: 63vw;
  }

  .square {
    width: 60.3vh;
    max-width: 65vh;
  }
}

@media (min-width: 1920px) {
  .portrait {
    max-width: 53.2vh;
  }

  .square {
    max-width: 62.6vh;
  }
}
