@import 'sass/variables.scss';

.title {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
  pointer-events: none;
}

.title p {
  font-family: 'Ogg Roman'; 
  font-size: 16.5vw;
  padding-top: 3.3vw;
  opacity: 0;

  transition: opacity .6s ease .15s, transform .5s $timing;
}

@media (min-width: 1366px) {
  .title p { font-size: 194px; }
}

@media (min-width: 1920px) {
  .title p { font-size: 280px; }
}