.media {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;

  a {
    margin-right: 36px;
    cursor: pointer;
  }

  a:last-child {
    margin-right: 0;
  }
}

.bottom {
  bottom: 8.3vh;
}

.reveal {
  p, .media {
    transition: opacity .4s ease;
  }

  p {
    transition-delay: .15s;
  }
}


.reveal:hover {
  p {
    opacity: 0;
    transition-delay: 0s;
  }

  .media {
    opacity: 1;
    transition-delay: .15s;
  }
}