$timing: cubic-bezier(0.8, .07, .07, .9);

.black-pannel {
  background: #1a1a1a;
  position: fixed;
  z-index: 60;
  width: 100%;
  height: 100%;
  top: 0;

  transition: transform .9s $timing; 
}

.black-pannel.no-transition {
  transition: none;
}