@import 'sass/mixins.scss';

.cross {
  @include size(17px);
  @include stroke(#fff, 2px);
  z-index: 10;
  transition: opacity .5s linear;
  
  &.inactive { 
    transition-delay: 0s; 
    pointer-events: none;
  }
}