@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('assets/fonts/HelveticaNeueLTPro-Lt.otf');
}

@font-face {
  font-family: 'Ogg Roman';
  src: url('assets/fonts/Ogg-Roman.otf');
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Helvetica Neue LT Pro';
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.cart-shift {
  transition: transform 1s cubic-bezier(.785, .135, .15, .86);
}

.show-cart .cart-shift {
  transform: translateX(-100px);
}

::-webkit-scrollbar {
  display: none;
}